.itsa-table {
    .pure-table {
        &.pure-table-striped tr:nth-child(2n-1) td.itsa-table-rowheader,
        td.itsa-table-rowheader {
            background-color: #E0E0E0;
            border-top: 1px solid #CBCBCB;
            font-weight: bold;
        }

        td.itsa-table-editable-cell {
            padding: 0;
        }

        td.selected-range {
            background-color: #FFF !important;
            border: 1px solid #129FEA;
            padding: calc(.5em - 1px) calc(1em - 1px);
        }

        td.itsa-table-editable-cell > span {
            padding: 0.5em calc(1em - 1px);
        }


        textarea {
            padding-left: calc(1em - 1px);
            padding-right: calc(1em - 1px);
            padding-top: calc(.5em - 1px);

            &[disabled] {
                cursor: not-allowed;
                background-color: #eaeded;
                color: #cad2d3;
            }
        }

        textarea:focus {
            outline: thin solid #129FEA;
            outline: 1px auto #129FEA;
        }
    }
}
